

/*#heading{
	
	font-size: 4em;

}*/
hr{
	border: 1px solid #ff4444;
	margin-top: 0;
}



#quoteBox{
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 0.8;
	padding-top: 15%;
    
}

#quoteArea{
	margin-top: 20px;
	font-family: 'Shadows Into Light', cursive;
	font-size: 20px;
	}

#title{
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	font-style: bold;
}

.footer-below{
	font-family: 'Roboto Slab', serif;
	font-size:20px;
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;

}
.footer-below a{
		text-decoration: none;
		color: #fb8c00;
}

.btn-style{
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}

